.logo{
    width: 5%;
    display: flex;
    align-items: left;
    border-radius: 52px;
    margin-left: -1%;
    position: fixed;
}

.navbar{
    font-weight: 700;
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 900px;
    
}
.navbar a{
    color: #fff;
    text-decoration: none;
    position: fixed;
    font-size: 16px
}
.navbar .nav-item{
    list-style: none;
    margin-right: 110px;
    margin-top: 20px;
}

.head1{
    display: flex;
    align-items: left;
    position: fixed;
    margin-left: 70px;
    margin-top:20px ;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}

.underline-link {
    position: relative;
    color: #fff; /* Original text color */
    text-decoration: none;
  }
.underline-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  /* Hover effect */
  .underline-link:hover::after {
    background-color: skyblue; /* Change underline color on hover */
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.footer{
    list-style: none;
    display: flex;
    margin-top: 600px;
    position: absolute;
}
.logo1{
    width: 4%;
    display: flex;
    align-items: left;
    border-radius: 52px;
    margin-left: -1%;
    position: absolute;
}

.column1{
    list-style: none;
    align-items: left;
    margin-right: 36%;
    display: inline;
    margin: 0 15px;
    padding: 0;
    
}
.row1{
    margin: 10px 0;
}


.column2{
    list-style: none;
    align-items: left;
    margin-right: 32%;
    margin-top: 50px;
}
.column3{
    list-style: none;
    align-items: left;
    margin-right: -1000px;
    margin-top: -270px;
}
.column4{
    list-style: none;
    transform: translate(900px,-96px);
}

.cont{
    display: flex;
    position: relative;
    background: #02041F;
    z-index: 1000;
}
.menu{
    cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu .bar{
    width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}
.nav-links{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 1px;
    width: 300px;
    background-color: rgba(14, 13, 13, 0.645);
    color: #fff;
    padding: 20px;
    display: none;
    border-radius: 8px;
}
.lists{
    padding: 10px 0;
}
.nav-links.open{
    display: block;
}
.navbar1 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: 630px;
  }
.menu.open{
    display: none;
}
